
@section Styles {
    @Styles.Render("~/Content/css/calendario")
}

@section Scripts {
    @Scripts.Render("~/bundle/site/calendario")
}

<div class="content">
    <div id="divCalendar" style="margin-left:auto; margin-right:auto;">
        <h3 id="calendarTitle" style="text-align:center; margin-left:auto; margin-right:auto;"></h3>
    </div>
</div>
   
