#frmEvent 
{
    margin-bottom: 0px !important;
    /*padding-top: 40px;*/
}

#frmEvent div.row
{
    margin-left: auto !important;
    margin-right: auto !important;
    width:90%;
}

.datetimeField
{
    width: 115px !important;
}

.dateField
{
    width: 75px !important;
}

.reserved-local
{
    margin: 20px 0px 0px 0px !important;
}

.icon-edit-tool
{
    height:32px;
    width:12px;
    margin-right:20px;
    cursor:pointer; 
    font-size:2em;
}


    
