<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Integer" connectionString="Url=https://2.ravenhq.com/databases/vopan-integer; ApiKey=a3c3bf35-fca3-4375-8acb-4bc2f0f85064"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" domain=".calendarioparoquial.com.br" xdt:Transform="Replace" />
    </authentication>
    <httpCookies domain=".calendarioparoquial.com.br" httpOnlyCookies="true" xdt:Transform="Replace" />
  </system.web>
</configuration>