#frmEvent 
{
    margin-bottom: 0px !important;
}

#frmEvent div.row
{
    margin-left: auto !important;
    margin-right: auto !important;
    width:90%;
}

.datetimeField
{
    width: 115px !important;
}

.dateField
{
    width: 75px !important;
}
