@charset "utf-8";


body{
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #EBF2F8 !important;
}
h2  
{
    font-size:12pt !important;
    }
/* Menu de Login */

div.loginmenu{
    float: right;
	background-color: #71ACCE;
	margin-right: 10px;
	height: 100%;
	font-size: 18px;
	position:relative;
}

div.loginmenu a{	
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	line-height: 100px;
	text-decoration: none;
	color: #ffffff;
	height:100%;
}

div.loginmenu a:hover{
	background-color:  #FFCE6D; 
	height: 100%;
}

#loginform  {
    position: absolute;
    /*display: none;*/
    top: 105px;
    left: -150px;
    z-index: 7;
    border: 2px solid #ccc;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 230px;
    max-height:250px;
    background: #fff;
    font-size:12px;
}

div#boasVindas {
	color: #ffffff;
	padding-top:20px;
}

div#boasVindas a {
	color: #ffaa00;
}

#simplemodal-overlay
{
	background-color:#000;
}
a.simplemodal-close,
a.simplemodal-close:link,
a.simplemodal-close:active,
a.simplemodal-close:visited {text-decoration:none; font-weight:bold; font-size:1.2em; position:absolute; top:4px; right:0px; color:#999; background:url(images/close.png) no-repeat; height:25px; width:25px; }
a.simplemodal-close:hover {color:#9bb3b3;}
