<form id="frmLogin">
    <p></p>
    <label id="errorMsg" class="field-validation-error"></label>
    <input id="txtEmail" type="text" name="email" placeholder="E-mail" style="width:190px;" /> 
    <p></p>
    <input type="password" name="senha" placeholder="Senha" style="width:190px;" />                      
    <label class="checkbox">
        <input type="checkbox" name="lembrar" value="true" /> Mantenha-me conectado
    </label>
    <button id="btnDoLogin" type="submit" data-loading-text="Logando..." class="btn btn-primary">Entrar</button>
    <label style="margin-top:16px;">
        <a href="Usuario/EsqueceuSenha">Esqueceu a senha?</a>
    </label>
</form>
