<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Integer.Web\packages.config" />
  <repository path="..\src\Integer.Test\packages.config" />
  <repository path="..\src\Integer.Infrastructure.Repository\packages.config" />
  <repository path="..\src\Integer.Import\packages.config" />
  <repository path="..\src\Integer.ImportTest\packages.config" />
  <repository path="..\src\Integer.ImportAux\packages.config" />
</repositories>