<?xml version="1.0"?>
<configuration>

  <!--<appSettings>
    <add key="Raven/WebDir" value="C:\dev\Projetos\Integer\src\Integer.Web\App_Data" />
  </appSettings>-->
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
    <add name="AgendaContainer"
           connectionString="metadata=res://*/Agenda.csdl|res://*/Agenda.ssdl|res://*/Agenda.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=carnation.arvixe.com;Initial Catalog=idealconsultoria;User ID=idealconsultoria;Password=PlaBeno2;MultipleActiveResultSets=True&quot;"
           providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
