@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Integer.Web.ViewModels.EventoViewModel

@using SquishIt.Framework;

<div id="divCalendar" style="margin-left:auto; margin-right:auto;">
    <h3 id="calendarTitle" style="text-align:center; margin-left:auto; margin-right:auto;"></h3>
</div>

<div id="divFormEvent" class="modal hide" style="width:710px;position:absolute;">
    <form id="frmEvent" class="well">
        <div class="row">
            <div id="msgPanel"></div>
        </div>
        <div class="row">
            <input id="txtIdEvento" type="hidden" name="Id" />
            <div class="span3">
                <label for="txtNome">Nome</label>
                <input type="text" id="txtNome" name="Nome" class="span3" />
                
                <label for="txtDescricao">Descrição</label>
                <textarea id="txtDescricao" name="Descricao" class="input-xlarge span3" style="height:84px;" rows="4" placeHolder="ex.: 'telefones p/ contato', 'venha com a blusa do grupo', 'endereço' etc" ></textarea>
            </div>
            <div class="span3">
                <label for="ddlTipo">Tipo</label>
                @Html.DropDownListFor(m => m.Tipo, new SelectList(ViewBag.Tipos, "Id", "Nome"), "Selecione", new { @id = "ddlTipo", @class = "span3" })
                
                <label for="txtDateBegin">Começa em</label>
                <div class="span3" style="margin:0px;">
                    <input type="text" id="txtDateBegin" name="DataInicio" size="16" class="datetimeField span2" />
                </div>
                
                <label for="txtDateEnd">Termina em</label>
                <div class="span3" style="margin:0px;">
                    <input type="text" id="txtDateEnd" name="DataFim" size="16" class="datetimeField span2" />
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px 0px 10px 0px;">
            <div class="span3">
                <button type="button" id="btnReserveLocal" class="btn btn-info dropdown-toggle pull-left"><i class="icon-plus-sign icon-white"></i> Reservar Local</button>
            </div>
        </div>
        <div id="reservedLocals" style="overflow-y:auto;"></div>
        <div class="row" style="margin-top:20px;">
            <div class="modal-footer">
                <a id="btnCancelSchedule" href="#" data-dismiss="modal">Cancelar</a>
                <input type="submit" id="btnSave" name="btnSave" data-loading-text="Salvando..." class="btn btn-primary" style="margin-left:20px;width:100px;" value="Salvar" />
            </div>
        </div>
    </form>
</div>

@section Styles {
    @MvcHtmlString.Create(Bundle.Css()
        .Add("~/Content/extCalendar/css/extensible-all.css")
        .Add("~/Content/Event.css")
        .ForceRelease()
        .Render("~/Content/squished/squished_calendar_#.css"))
}
    
@section Scripts {    
    @MvcHtmlString.Create(Bundle.JavaScript()
        .Add("~/Scripts/Plugins/extCalendar/extensible-core.js")
        .Add("~/Scripts/Plugins/extCalendar/recurrence-debug.js")
        .Add("~/Scripts/Plugins/extCalendar/calendar-debug.js")
        .Add("~/Scripts/Plugins/extCalendar/locale/ext-lang-pt_BR.js")
        .Add("~/Scripts/CalendarView/calendar.js")
        .Add("~/Scripts/CalendarView/event.js")
        .ForceRelease()
        .Render("~/Scripts/squished/squished_calendar_#.js"))
}






